#body {
    background-color: pink;
}

#h2{
    color: white;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    border-radius: 10px;
    border-color: #efabee;
    padding: 20px;
    margin: 10px;
}