<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do!!!</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body id="body">

    <div id="h2">
        <h1>Welcome to your To Do list !!!!</h1>
    </div>

   <div>
        <div>
            <form id="form" action="{{ url_for('hello') }}" method="post">
                <input id="todo" type="text" placeholder="Enter your todo: " name="todo">
                <button type="submit" align-center="center">Add</button>
            </form>
        </div>

        <div>
            <form>
            {% for todo in todos %}
            <h2>{{ todo['todo'] }}</h2>
            {% endfor %}
            </form>
        </div>

   </div> 
</body>
</html>